.cart-product-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
}

.product-name {
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
}

.total-text {
    font-family: 'Cardo', serif;
    font-size: 30px !important;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #444;
    border: none;
    font-size: 20px;
}

.quantity-btn:hover {
    background-color: #c04187;
    color: #272423;
}

.compact-remove {
    width: 36px;
    height: 36px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cart-header-row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    background-color: #444;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #f5cb5c;
}

.cart-header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
}

.cart-item-card {
    background-color: #333533;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 16px;
}

.cart-item-content {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.cart-product-info {
    display: flex;
    align-items: center;
}

.cart-product-price,
.cart-product-quantity,
.cart-product-subtotal,
.cart-product-remove {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-card:hover {
    background-color: #e6b458;
    transition: background-color 0.3s ease;
}

.empty-text {
    font-family: 'Cardo', serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}