{% extends 'seller/dashboard_base.html' %}

{% block title %}Add Product{% endblock %}
{% block page_title %}Add New Product{% endblock %}

{% block content %}
<div class="form-container">
    <a href="{% url 'seller-products' %}" class="btn-back">
        <i class="fa-solid fa-arrow-left-long"></i> Back to Products
    </a>

    <form method="POST" enctype="multipart/form-data" class="product-form">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Product Name</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Category</label>
            {{ form.category }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>

        <div class="form-group">
            <label for="{{ form.features.id_for_label }}">Product Features</label>
            {{ form.features }}
        </div>
        
        <div class="form-row">
            <div class="form-group">
                <label for="{{ form.price.id_for_label }}">Price (Php)</label>
                {{ form.price }}
            </div>
            <div class="form-group">
                <label for="{{ form.stock.id_for_label }}">Stock</label>
                {{ form.stock }}
            </div>
        </div>
        
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Product Main Image</label>
            {{ form.image }}
        </div>

        <div class="form-group">
            <label for="additional_images">Additional Product Images</label>
            <input type="file" name="additional_images" multiple>
        </div>
        
        <button type="submit" class="btn-submit">
            <i class="fas fa-save"></i> Save Product
        </button>
    </form>
</div>
{% endblock %}