{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register | RetroPik</title>

  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&family=Yeseva+One&family=Young+Serif&display=swap" rel="stylesheet">
</head>
<body>
    {% if messages %}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
      {% for message in messages %}
      <div class="toast align-items-center show mb-2" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger text-white">
          <strong class="me-auto">Error</strong>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="layout-container">
        <div class="background-img">
            <img src="{% static 'images/upscaled-bg-image.png' %}" alt="Background Image">
        </div>
        <div class="main-container">
            <header class="main-header">
                <div class="header-logo">
                    <img src="{% static 'images/logo.png' %}" alt="Company Logo" class="site-logo">
                    <h1>RetroPik</h1>
                </div>
                <a href="{% url 'home' %}">Return to Store</a>
            </header>
            
            <div class="register-section">
                <h1>Register</h1>
                <p>By creating a RetroPik Account, access your RetroPik Account to unlock a personalized 
                    shopping experience, track orders, manage your purchase history, and receive exclusive member benefits.</p>

                <form method="POST" class="signup-form">
                    {% csrf_token %}
                    <div class="name-row">
                        <input type="text" name="firstname" placeholder="First Name" required value="{{ request.POST.firstname }}">
                        <input type="text" name="lastname" placeholder="Last Name" required value="{{ request.POST.lastname }}">
                    </div>
                    <input type="text" name="username" placeholder="Username" required value="{{ request.POST.username }}">
                    <input type="email" name="email" placeholder="Email Address" required value="{{ request.POST.email }}">
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                    <button type="submit">Sign Up</button>

                    <p>Have an account already? <a href="{% url 'login' %}">Log In</a></p>
                </form>
            </div> 
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const toastTriggerList = [].slice.call(document.querySelectorAll('.toast'))
        toastTriggerList.forEach(function (toastEl) {
        const toast = new bootstrap.Toast(toastEl)
        toast.show()
        });
    </script>
</body>
</html>
