body {
    background-color: #272423;
    margin: 0;
    padding: 0;
}

.login-box {
    width: 400px;
    background: #333533;
    padding: 40px;
    margin: 100px auto;
    border-radius: 5px;
    border: 5px solid #E6B458;
}

.login-icon {
    display: block;
    margin: 0 auto 10px auto;
    width: 60px;
}

.login-box h2 {
    text-align: center;
    font-family: 'Yeseva One', serif;
    font-size: 32px;
    color: #E6B458;
    margin: 10px auto;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subcontainer label {
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: 5px 0;
}

.subcontainer input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.button-container button {
    padding: 10px 20px;
    background-color:#e14099;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #C04187 ;
}

.error-message {
    font-family: 'Cardo', serif;
    color: #e14099;
    text-align: center;
    margin-bottom: 10px;
}

.back-to-shop {
    font-family: 'Cardo', serif;
    text-align: center;
    margin: 20px auto 0;
}


.back-to-shop a {
    color: white;
    text-decoration: underline;
}

.back-to-shop a:hover {
    color: rgb(168, 41, 113);
    text-decoration: underline;
}

.error-message {
    color: #e14099;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}