{% extends 'dashboard_base.html' %}

{% block content %}
    <div class="stats-container">
        <div class="stat-box sales-box">
            <h3>Total Sales</h3>
            <p>Php {{ total_sales }}</p>
        </div>
        <div class="stat-box customers-box">
            <h3>Customers</h3>
            <p>{{ total_customers }}</p>
        </div>
        <div class="stat-box products-box">
            <h3>Products</h3>
            <p>{{ total_products }}</p>
        </div>
    </div>
{% endblock %}