{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/seller-dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    {% block extra_css %}{% endblock %} 
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <a href="{% url 'dashboard' %}"><img src="{% static 'images/camera-logo.png' %}" alt="Logo" class="logo"></a>
            <ul class="navbar">
                <li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-eye"></i>Overview</a></li>
                <li><a href="{% url 'seller-products' %}"><i class="fa-solid fa-camera-retro"></i>Products</a></li>
                <li><a href="#"><i class="fa-solid fa-bell"></i>Orders</a></li>
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-store"></i>Shop Page</a></li>
                <li><a href="{% url 'seller-logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a></li>
            </ul>
        </div>

        <div class="main-content">
            <div class="dashboard-header">
                <h1>{% block page_title %}Dashboard{% endblock %}</h1>
                <div class="welcome-message">
                    Welcome, <b>{{ request.user.username }}</b>
                </div>
            </div>


            {% block content %}
            <div class="stats-container">
                <div class="stat-box sales-box">
                    <h3>Total Sales</h3>
                    <p>Php {{ total_sales }}</p>
                </div>
                <div class="stat-box customers-box">
                    <h3>Customers</h3>
                    <p>{{ total_customers }}</p>
                </div>
                <div class="stat-box products-box">
                    <h3>Products</h3>
                    <p>{{ total_products }}</p>
                </div>
            </div>
            {% endblock %}

        </div>
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>